<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Список авторов</title>
<div style="width: 100%; float: left;">
	<div style="float: left; width: 75%;">
		<table st-table="displayedCollection" st-safe-src="authors"
			class="table table-striped">
			<thead>
				<tr>
					<th st-sort="id">ID</th>
					<th st-sort="name">Автор</th>
					<th>Редактировать</th>
					<th>Удалить</th>
				</tr>
				<tr>
					<th colspan="3"><input st-search="" class="form-control"
						placeholder="Поиск" type="text" /></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="author in displayedCollection">
					<td>{{author.id}}</td>
					<td>{{author.name}} {{author.surname}} {{author.patronymic}}</td>
					<td><a><i ng-click="open(author)"
						class="glyphicon glyphicon glyphicon-pencil"></i></a></td>
					<td><button type="button" ng-click="removeItem(author)"
							class="btn btn-sm btn-danger">
							<i class="glyphicon glyphicon-remove-circle"> </i>
						</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/ng-template" id="myModalContent.html">
<div class="modal-header">
	<h3 class="modal-title">Редактирование</h3>
</div>
<div class="modal-body">
	<div class="control-group">
		<label class="control-label" for="name">Имя</label> <input type="text"
			ng-model="author.name" id="name">
	</div>
	<div class="control-group">
		<label class="control-label" for="surname">Фамилия</label> <input
			type="text" ng-model="author.surname" id="surname">
	</div>
	<div class="control-group">
		<label class="control-label" for="patronymic">Отчество</label> <input
			type="text" ng-model="author.patronymic" id="patronymic">
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>
    </script>