<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<table st-table="displayedCollection" st-safe-src="books"
	class="table table-striped">
	<thead>
		<tr>
			<th st-sort="publisher">Издатель</th>
			<th st-sort="author">Автор</th>
			<th st-sort="title">Название</th>
			<th>Редактировать</th>
			<th>Удалить</th>
		</tr>
		<tr>
			<th colspan="5"><input st-search="" class="form-control"
				placeholder="Поиск" type="text" /></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="book in displayedCollection">
			<td>{{book.publisher.name}}</td>
			<td>{{book.author.surname}} {{book.author.name}}
				{{book.author.patronymic}}</td>
			<td>{{book.title}}</td>
			<td><span></span></td>
			<td><button type="button" ng-click="removeItem(book)"
					class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle"> </i>
				</button></td>
		</tr>
	</tbody>
</table>