<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<table st-table="displayedCollection" st-safe-src="books"
	class="table table-striped" id="booksTable">
	<thead>
		<tr>
			<th st-sort="id">ID</th>
			<th st-sort="publisher">Издатель</th>
			<th st-sort="author">Автор</th>
			<th st-sort="title">Название</th>
			<th>Обложка</th>
			<th>Редактировать</th>
			<th>Удалить</th>
		</tr>
		<tr>
			<th colspan="6"><input st-search="" class="form-control"
				placeholder="Поиск" type="text" /></th>
			<th><button class="btn btn-sm btn-success" ng-click="addItem()">
					Добавить <i class="glyphicon glyphicon-plus-sign"></i>
				</button></th>				
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="book in displayedCollection">
			<td>{{book.id}}</td>
			<td>{{book.publisher.name}}</td>
			<td>{{book.author.surname}} {{book.author.name}}
				{{book.author.patronymic}}</td>
			<td>{{book.title}}</td>
			<td><img ng-src="{{book.coverMain}}" width="50" height="70"/></td>
			<td><a><i ng-click="open(book)"
					class="glyphicon glyphicon glyphicon-pencil"></i></a></td>
			<td><button type="button" ng-click="removeItem(book)"
					class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle"> </i>
				</button></td>
		</tr>
	</tbody>
</table>