<Configuration status="debug" name="MyApp" packages="">
	<Appenders>
		<RollingFile name="RollingFile" fileName="logs/comicsShop.log"
			filePattern="logs/$${date:yyyy-MM}/comicsShop-%d{yyyy-MM-dd-HH}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d{dd MMM yyyy HH:mm:ss,SSS}{GMT+4} [%p] %c{1}.[%M] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="6"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="2 MB" />
			</Policies>
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>