<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="cacheEnabled" value="true" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="logImpl" value="LOG4J2" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="ru.wonderkot.comicsChange.model.Author"
			alias="Authors" />
		<typeAlias type="ru.wonderkot.comicsChange.model.Book"
			alias="Books" />
		<typeAlias type="ru.wonderkot.comicsChange.model.Publisher"
			alias="Publishers" />
		<typeAlias type="ru.wonderkot.comicsChange.model.User"
			alias="Users" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="MANAGED" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:jboss/datasources/comicschange" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="BookDao.xml" />
		<mapper resource="AuthorDao.xml" />
		<mapper resource="PublisherDao.xml" />
	</mappers>
</configuration>